body {
  margin: 0;
  padding: 0;
  --color-primary: #009579;
  --color-primary-dark: #006956;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-error-dark: #8a2626;
  --color-success: #4bb544;
  --background-primary: #b6b6b6;
  --background-darker: #919191;
  --border-radius: 4px;
  background: #b6b6b6;
  background-size: cover;
}

.login {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 18px;
  padding: 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffff;
}

.container,
.form_input,
.form_button {
  font: 500 18px "Quicksand", sans-serif;
}
.date{
  font-family: "Quicksand";
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}
.form > *:last-child {
  margin-bottom: 0;
}

.form_title {
  margin-bottom: 36px;
  text-align: center;
}

.form_message {
  text-align: center;
  margin-bottom: 18px;
}

.form_message--success {
  color: var(--color-success);
}

.form_message--error {
  color: var(--color-error);
}

.form_input_group {
  margin-bottom: 18px;
}

.form_input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form_input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form_input-error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form_input-error-message {
  margin-top: 9px;
  font-size: 15px;
  color: var(--color-error);
}

.form_button {
  width: 100%;
  padding: 18px 36px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form_button:hover {
  background: var(--color-primary-dark);
}

.form_button:active {
  transform: scale(0.98);
}

.form_text {
  text-align: center;
}

.form_link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form_link:hover {
  text-decoration: underline;
}

.mainPage {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  display: flex;
  position: relative;
}
.wrapper .side_nav {
  position: fixed;
  width: 160px;
  height: 100%;
  background: var(--color-primary);
  padding: 30px 0;
}

.wrapper .side_nav h2 {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .side_nav ul li {
  padding: 15px;
  padding-left: 0px;
  list-style-type: none;
  text-decoration: none;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .side_nav ul li a {
  text-decoration: none;
  color: #bdb8d7;
  display: block;
}

.wrapper .side_nav ul li a fas {
  width: 25px;
}

.wrapper .side_nav ul li:hover {
  background: var(--color-primary-dark);
}

.wrapper .side_nav ul li:hover a {
  color: #ffffff;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 150px;
}

.wrapper .main_content .header ul li {
  float: left;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 0px 25px;
  list-style-type: none;
  text-decoration: none;
}

.wrapper .main_content .header ul li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--color-primary-dark);
}

.wrapper .main_content .header ul li:hover {
  transform: scale(0.95);
}

.task_content {
  min-height: 93vh;
  min-width: 100%;
  display: flex;
}

.left_pane {
  width: 50%;
  margin: 18px;
  padding: 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: #ffff;
  
}
.scrollable_project_list{
  overflow-y: auto;
  width:30%;
  height: 70%;
  position: fixed;
  background-color: white;
}
.right_pane {
  width: 50%;
  margin: 18px;
  padding: 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: #ffff;
}

.new_content {
  margin-top: 30px;
  width: 100%;
  margin: 18px;
  padding: 36px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: #ffff;
}

.save {
  position: absolute;
  right: 60px;
  bottom: 45px;
  padding: 5px 9px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.cancel {
  position: absolute;
  right: 100px;
  bottom: 45px;
  margin-right: 30px;
  padding: 5px 9px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.button:hover {
  background: var(--color-primary-dark);
}

.button:active {
  transform: scale(0.98);
}

.input_title,
.input_text {
  width: 95%;
  margin: 5px;
  margin-left: 60px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  outline: none;
}

.input_title {
  height: 10%;
}

.input_text {
  height: 80%;
  text-align: start;
}

.projects {
  border-bottom: 1px solid #2c666e;
  width: 100%;
  text-align: left;
  padding: 0 20px 15px;
  position: relative;
}

.input_project {
  width: 88%;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  outline: none;
}
.progress_bar{
  visibility: hidden;
  width: 100%;
  /*padding: 10px;*/
  height:3%;
  font-family: "Quicksand", sans-serif;
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  outline: none;
  background-color:white;
  text-align: center;
  align-items: center;
  align-self: center;
  /*position: absolute;*/
}
.progress_color{
  border-radius: 20px;
  outline: none;
  border: none;
  background: #009579;
  width:0%;
  height:100%;
  opacity:0.3;
}
#progress_text{
  font-size: small;
  position: absolute;
  align-self: center;
  align-items: center;
  text-align: center;
}
.input_task {
  visibility: hidden;
  width: 88%;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  outline: none;
  transform: translateY(50%);
}
.add_task {
  visibility: hidden;
  padding: 15px;
  height: 50px;
  width: 50px;
  background: var(--color-primary);
  color: #ffffff;
  float: right;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  transform: translateY(50%);
}

.add_task:hover {
  background: var(--color-primary-dark);
}

.add_task:active {
  transform: scale(0.95) translateY(50%);
}
.project_title {
  visibility: hidden;
  width: 66%;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--color-primary);
  outline: none;
  transform: translateY(60%);
}
.task_container{
  visibility: hidden;
  background-color: white;
  width: 37%;
  height: 49%;
  transform: translateY(10%);
  position: absolute;
}
.taskholder{
  background-color: white;
  width: 97%;
  height: 97%;
  position: absolute;
  overflow-y: auto;
}
.footer{
  visibility: hidden;
  width: 98%;
  height: 8%;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  transform: translateY(900%);
}
.add_project {
  padding: 15px;
  height: 50px;
  width: 50px;
  background: var(--color-primary);
  color: #ffffff;
  float: right;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}

.add_project:hover {
  background: var(--color-primary-dark);
}

.add_project:active {
  transform: scale(0.95);
}

.list_project {
  margin: 0;
  padding: 0;
}

.list_project li {
  position: relative;
  cursor: pointer;
  list-style-type: none;
  width: 88%;
  padding: 30px;
  background-color: #dddddd;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 20px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list_project li:hover {
  background-color: var(--background-darker);
}

.list_settings {
  margin: 0;
  padding: 0;
}

.list_settings li {
  cursor: pointer;
  position: relative;
  list-style-type: none;
  padding: 10px 8px 12px 40px;
  background-color: #dddddd;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 20px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list_settings li:hover {
  background-color: var(--background-darker);
}

.list_settings li:active {
  transform: scale(0.98);
}

.project_container {
  background-color: #dddddd;
  height: 120px;
  margin: 20px;
  border-radius: 20px;
  text-indent: 30px;
}

.project_container:hover {
  transform: scale(0.99);
}

.list_project button {
  height: 50px;
  width: 50px;
  color: #ffffff;
  border: none;
  float: right;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 10px;
}

.open_project,
.edit_project,
.completed_project {
  background-color: var(--color-primary);
}

.delete_project {
  background-color: var(--color-error);
}

.completed_project:hover {
  background-color: var(--color-primary-dark);
}
.open_project:hover {
  background-color: var(--color-primary-dark);
}
.edit_project:hover {
  background-color: var(--color-primary-dark);
}
.delete_project:hover {
  background-color: var(--color-error-dark);
}

.list_project button:active {
  transform: scale(0.95);
}

/*
.list_project li h4 {
 color: #dddddd;
}
*/

/* I need this */
/*
.notes {
  flex: 2 1;
  border-right: 1px solid #2c666e;
  height: 100%;
  overflow-y: auto;
  padding: 0;
}

.note {
  border-bottom: 1px solid #2c666e;
  width: 100%;
  text-align: left;
  padding: 0 20px 15px;
  position: relative;
}
.note:last-of-type {
  border-bottom: 0;
}
.edit-field {
  flex: 4 1;
  height: 100%;
  overflow-y: auto;
}
.side-bar {
  flex: 1 1;
  border-right: 1px solid #2c666e;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-bar .list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 150px;
}
.list-item {
  margin-bottom: 15px;
}
.title-input {
  font-size: 24px;
  border: 0;
  width: 100%;
  margin: 10px 0 0;
  background: inherit;
  padding: 0 20px;
  color: #fff;
  outline: none;
}
.notes-header {
  border-bottom: 1px solid #2c666e;
  padding-bottom: 15px;
}
.button-delete {
  background: none;
  border: 0;
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  z-index: 2000;
}
@-webkit-keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
*/
/*# sourceMappingURL=main.f39c708e.chunk.css.map */
